# Cach 1: Folder Google Drive public / Anyone with the link can view
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id
GOOGLE_API_KEY=your_google_cloud_api_key

# Cach 2: Folder private, chia se folder cho email service account
# GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id
# GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
# GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
